a{
    display: inline-block;
    text-decoration: none;
    padding:5px;
    color:white;
    background-color:rgb(27,27,27);
    overflow: hidden;
}

a.left{
    float:left;
}

a.right{
    float:right;
}

a.center{
    align-content: center;
}